$primary-color: steelblue;
$secondary-color: skyblue;
$light-color: white;
$dark-color: #333;
$unfinished: red;
$finished: lightgreen;
$font-stack: arial, helvetica, sans-serif;
$normal-button-size: 270px